body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(214, 48, 48);
    
}

button {
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}   

h1 {
    display: flex;
    flex-flow: row wrap;
}

.container {
    display:flex;
    flex-direction: row;
}
  
.options {
    display:flex;
    flex-wrap: column wrap;
    margin: 40px;
}

.main {
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: black;
    position: absolute;
}

.etch {
  display: flex;
  border: solid;
  border-color: black;
  position: absolute;
  flex-wrap: wrap;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  

}

.gridTwo {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
