body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    
}

button {
    height: 40px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: white;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}   

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.clearBtn {
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: row;

}
  
.options {
    display:flex;
    margin: 20px;

}

.slideContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.game {
    box-shadow: 5px 5px 5px 5px grey;
    min-width: 640px;
    min-height: 640px;
}

.gridValue {
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: flex;
    flex-basis: 20%;    
}

.slider {
    -webkit-appearance: none;
    width: 120px;
    height: 25px;
    background: #929292;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #060606;
    cursor: pointer;
  }